__pycache__/
saved_model/
output/
data/
cache/
MACE_Finetuned_Models/
Grounded-Segment-Anything/
.ipynb_checkpoints/
cache/
wandb/
data_root/cache/*.pt
temp/
DUO/train/outputs
DUO/train/outputs_testcustom
concept_ablation
metrics/gcd/examples/resources